<div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
  <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
    <div class="flex flex-col w-full md:w-1/2 p-4">
      <div class="flex flex-col flex-1 justify-center mb-8">
        <h2 class="text-4xl text-center font-thin font-semibold">Login</h2>
        <div class="w-full mt-4">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal w-3/4 mx-auto"}) do |f| %>
            <% if alert %>
              <div class="flex flex-col mt-2">
                <div class="bg-red-200 border border-red-400 text-red-600 px-1 py-1 rounded relative" role="alert">
                  <span class="block sm:inline"><%= alert %></span>
                </div>
              </div>
            <% end %>
            <div class="flex flex-col mt-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"flex-grow h-8 px-2 border rounded border-grey-400", placeholder: "Email" %>
            </div>
            <div class="flex flex-col mt-4">
              <%= f.password_field :password, autocomplete: "current-password", class:"flex-grow h-8 px-2 border rounded border-grey-400", placeholder: "Password" %>
            </div>
            <div class="flex flex-col mt-8">
              <%= f.submit "Log in", class: "bg-teal-400 hover:bg-teal-500 text-white text-sm font-semibold py-2 px-4 rounded" %>
            </div>
            <div class="flex flex-col mt-3">
            <%= link_to 'Register', new_user_registration_path, class: "bg-teal-400 text-center hover:bg-teal-500 text-white text-sm font-semibold py-2 px-4 rounded" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="hidden md:block md:w-1/2 rounded-r-lg" style="background: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); background-size: cover; background-position: center center;"></div>
  </div>
</div>
